<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- <add key="RabbitHost" value="rabbitmq://localhost" /> -->
    <!-- <add key="RabbitPassword" value="guest" /> -->
    <!-- <add key="RabbitPassword" value="guest" /> -->
    <add key="RabbitHost" value="shark.rmq.cloudamqp.com" />
    <add key="RabbitUserName" value="nnfmbpta" />
    <add key="RabbitPassword" value="n7n4xBEvCmjnVHel5A0aZUDI1LZT5HPg" />
    <add key="aspnet:RoslynCompilerLocation" value="roslyn" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>